


<div class = "container">
  <h1>Tweets</h1>
  <% if current_user.present? %>
    <%= render 'form', tweet: @tweet %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th>Content</th>
        <th>Picture</th>
        <th><div class="ml-2">Likes</div></th>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tweets.each do |tweet| %>
        <tr>
          <td><%= tweet.content %></td>
          <td><%= image_tag tweet.user.image_url %> </td>
          <td> <div class="d-flex flex-row ml-2">
                  <div class="mr-4"><%=tweet.likes.count %></div>
                  <div class="mr-3"><% if current_user.present? %>
                       <% pre_like = tweet.likes.find { |like| like.user_id == current_user.id }%>
                        <% if pre_like %>
                          <div ><i class="far fa-thumbs-up"></i><div>
                        <% end %>
                  <% end %></div>
                </div>
                </td>
          <td><% if current_user.present? %>
              <% pre_like = tweet.likes.find { |like| like.user_id == current_user.id }%>
              <% if pre_like %>
                <div ><%= button_to 'Unlike',tweet_like_path(tweet, pre_like), method: :delete %></div>
              <% else %>
                    <%= button_to 'Like',tweet_likes_path(tweet), method: :post %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to 'Show', tweet %></td>
       
          
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= paginate(@tweets) %>
</div>
